%tr
  %th.label
    Pingfm
  %td
    = check_box 'page', 'notify_pingfm_of_children'
    %label{:for => "page_notify_pingfm_of_children"} Notify Ping.fm of newly published child pages?
    = link_to "Ping.fm Recent Posts", "http://ping.fm/recent/"