%tr
  %th.label
    Pingfm
  %td
    = check_box 'page', 'notify_pingfm_of_children'
    %label{:for => "page_notify_pingfm_of_children"} Notify Ping.fm children of not already announced pages?
    = link_to "Ping.fm Recent Posts", "http://ping.fm/recent/"
    = check_box 'page', 'already_notified_pingfm'
    %label{:for => "page_already_notified_pingfm"} Already posted to Ping.fm?