%h4 Pingfm
%p Notify Ping.fm of newly published child pages of any given page. This extension just posts to Ping.fm. You must configure your social networkings sites there
%p Be sure to set the details in your configuration settings. If you're unsure about that, see your site administrator.